# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
bin/
debug/
obj/
packages/
.vs/

# testing


# production


# misc


appsettings.Development.json
appsettings.Local.json